services:
  - type: web
    name: python-ml-engine
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SUPABASE_URL
        fromService:
          type: pserv
          property: connectionString
      - key: SUPABASE_KEY
        sync: false
